<div class="app-date-nav">
    <button class="app-today-btn" ng-click="setViewDateToToday()" ng-show="showButtons" style="margin-left: 2%;">{{::'CURRENT_DATE'
        |translate}}</button>
    <button class="app-today-btn" disabled ng-show="showButtons">{{::'WEEK' |translate}}</button>
    <button class="app-today-btn" ng-click="$parent.toggleWeekView()" ng-show="showButtons">{{::'DAY'
        |translate}}</button>
</div>
<button class="app-view-prev" ng-click="goToPreviousWeek()" style="margin-left: 2%;"><i class="fa fa-angle-left"></i></button>
<span>
    <label for="weeklyDate">{{changeFormat(weekStartDate)}} - {{changeFormat(weekEndDate)}}</label>
    <input id="weeklyDate" type="date" ng-model="viewDate" required />
</span>
<button type="button" ng-click="goToNextWeek()"><i class="fa fa-angle-right"></i></button>