<div class="reg-body-wrapper">
<div class="edit-patient simple-form-ui">
    <form name="myForm"  single-submit="update()">
        <div class="box-container box-container-default">
            <legend class="registraion_legend first-registraion_legend" ng-class="{'removeLegend': patient.primaryIdentifier == undefined}">
                <span class="mylegend"><strong>{{patient.primaryIdentifier.identifierType.name}}: <span id="patientIdentifierValue">{{patient.primaryIdentifier.identifier}}</span></strong></span>
                <span ng-show= "isDigitized" class="right"><strong>{{::'REGISTRATION_LABEL_SCANNED' | translate}}</strong></span>
            </legend>

            <style>
  .responsive-wrapper {
    margin-top: 25px;
  }
  button.confirm {
    border-radius: 3px;
    background: #1A57E8;
    background-color: #1A57E8;
    border: #1A57E8 1px solid;
    padding: 6px 20px 7px;
  }

  .mylegend {
    background: #eee;
    line-height: 16px;
    padding: 3px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: 'Outfit', sans-serif;
  }

  .photo-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-right: 50px;
  }

  .photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo-container img {
    max-width: 120px;
    border-radius: 6px;
  }

  .photo-buttons {
    margin-top: 5px;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
  }

  .camera-btn,
  .upload-btn {
    width: 50px;
    height: 28px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }

.photo-buttons .camera-btn {
    /* Ensure the background image is applied correctly */
    background-image: url('../images/photo.png') !important;
    background-size: contain; /* Scales the image to fit the button while maintaining its aspect ratio */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */

    /* Button styles */
    font-size: 10px;
    background-color: #1A57E8;
    width: 50px; /* Adjust the width */
    height: 28px; /* Adjust the height */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    line-height: 50px; /* Centers the text vertically */
    padding: 10px;
}


.photo-buttons .upload-btn {
    /* Ensure the background image is applied correctly */
    background-image: url('../images/Gallery.png') !important;
    background-size: contain; /* Scales the image to fit the button while maintaining its aspect ratio */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */

    /* Button styles */
    font-size: 10px;
    background-color: #1A57E8;
    width: 50px; /* Adjust the width */
    height: 28px; /* Adjust the height */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    line-height: 50px; /* Centers the text vertically */
    padding: 10px;
}

  .identifier-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
  }

  .identifier-source,
  .registration-number,
  .enter-id-checkbox {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    gap: 4px;
    padding: 5px;
  }

  .identifier-source {
    margin-left: 2%;
  }

  .enter-id-checkbox {
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
  }

  .related-identifier {
    margin-top: 16px;
  }

  .control-label.hidden {
    display: none !important;
  }
  .ul li a.back-btn, ul li a.back-btn:hover, button.back-btn, a.back-btn {
    padding: 6px 6px 5px 6px;
    border: 1px solid #476b6b;
    background: linear-gradient(to bottom, #FFFFFF33);
    border-radius: 100px;
  }
   .split-button:hover .primaryOption button:hover  {
    background: #1A57E8 !important;
  }
  button.confirm {
    background: #1A57E8 !important;
  }
  /* Media Queries for Responsiveness */
  @media screen and (max-width: 1024px) {
    .identifier-wrapper {
      flex-direction: column;
    }

    .photo-container-wrapper {
      flex-direction: column;
      align-items: center;
    }

    .photo-container img {
      max-width: 100px;
    }

    .mylegend {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 768px) {
    .identifier-source,
    .registration-number,
    .enter-id-checkbox {
      min-width: 100%;
    }

    .photo-container-wrapper {
      margin-right: 0;
    }

    .camera-btn,
    .upload-btn {
      width: 35px;
      height: 25px;
    }
  }

  @media screen and (max-width: 480px) {
    .mylegend {
      font-size: 12px;
      padding: 2px 0;
    }

    .photo-container img {
      max-width: 80px;
    }

    .identifier-wrapper {
      gap: 5px;
    }

    .camera-btn,
    .upload-btn {
      width: 30px;
      height: 20px;
    }
  }
</style>
        <section class="clearfix">
        <div class="photo-container-wrapper" ng-if="!disablePhotoCapture">
        <div class="photo-container">
          <img class="patient-image" ng-src="{{patient.image}}" fallback-src="../images/blank-user.gif" />
        <div class="photo-buttons"  >
          <button capture-photo="" ng-model="patient.image" style="background: none !important; border: none !important;display: flex; flex-direction: row;"></button>
        </div>
        </div>
        </div>
        </section>

<style>
    .field-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Align items to the start */
    gap: 10px; /* Space between label and value */
    margin: 10px 0; /* Space around the container */
    width: 100%; /* Container takes full width */
    max-width: 250px; /* Optional: Limits the container's max width */
}

/* Label Styling */
.field-attribute {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/* Value Styling */
.field-values {
    font-size: 14px;
    color: #555;
    border: 1px solid #EBEDF0;
    border-radius: 5px;
    background-color: #EBEDF0;
    padding: 4px 8px; /* Adds inner spacing */
    width: 100%; /* Value takes full width of the container */
    box-sizing: border-box; /* Ensures padding is included in width */
}

/* Responsive Styling */
@media (max-width: 768px) {
    .field-container {
        max-width: 100%; /* Allow the container to adjust to screen size */
    }
    .field-value {
        width: 100%; /* Ensure value fits within the container */
    }
}

</style>

            <article class="form-field">
 <div class="field-container">
    <div class="field-attribute" >
        <label class="control-label">{{::'REGISTRATION_LABEL_REGISTRATION_DATE' | translate}}</label>
    </div>
    <div class="field-values" style="margin-left: 45px;">
        <span class="uneditable-input text-only">{{patient.registrationDate | bahmniDate}}</span>
    </div>
</div>

                <div ng-if="showRelatedIdentifierOption" class="field-value field-value-has-identifier">
                    <div class="fl">
                        <div class="field-attribute hasOldIdentifier-field-attribute">
                            <label for="related-identifier-attribute" class="control-label related-identifier-label">{{::'RELATED_PATIENT_IDENTIFIER_LABEL' | translate}}</label>
                        </div>
                        <div class="field-value">
                            <input class="input-label-inline" type="checkbox" id="related-identifier-attribute" ng-model="patient[relatedIdentifierAttribute.name]"
                                ng-change="patient[relatedIdentifierAttribute.name].handleUpdate()" ng-disabled="showDisabledAttrOption" ng-style="{'opacity' : showDisabledAttrOption ? '0.4':'unset'}">
                        </div>
                    </div>
            </article>
        </div>
        <ng-include src="'views/patientcommon.html'"></ng-include>
        <patient-action></patient-action>
    </form>
    <br>
</div>
</div>