<style>
    ul li a.back-btn, ul li a.back-btn:hover, button.back-btn, a.back-btn {
    border: none !important;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.2);
}
    ul li a.back-btn.dashboard-link, ul li a.back-btn:hover.dashboard-link, button.back-btn.dashboard-link, a.back-btn.dashboard-link {
    padding: 7px 7px;
    vertical-align: middle;
}
</style>
<div class="opd-header-wrapper">
    <div class="opd-header-top">
        <header>
            <bm-back-links></bm-back-links>
        </header>
    </div>
</div>