apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy
  labels:
    app: proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proxy
  template:
    metadata:
      labels:
        app: proxy
    spec:
      containers:
        - name: proxy
          image: 913524912266.dkr.ecr.ap-south-1.amazonaws.com/proxy:latest
          ports:
            - containerPort: 80
            - containerPort: 443
      imagePullSecrets:
        - name: ecr-secret
