apiVersion: v1
kind: Service
metadata:
  name: proxy
spec:
  type: ClusterIP
  selector:
    app: proxy
  ports:
    - name: http     
      protocol: TCP
      port: 80
      targetPort: 80
    - name: https    
      protocol: TCP
      port: 443
      targetPort: 443
